<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.anastdronina.gyperborea">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new2"
        android:label="Гиперборея"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="org.anastdronina.gyperborea.Hyperborea">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResetPreferences"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".NewGame"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".AboutGame"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".Popup"
            android:theme="@style/AppSecondTheme"/>
        <activity
            android:name=".PersonCard"
            android:theme="@style/AppSecondTheme"/>
        <activity
            android:name=".People"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".Finances"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".Sciense"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".Technologies"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".SellTechnology"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".Supply"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".Stock"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".Agriculture"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".FarmCard"
            android:theme="@style/AppSecondTheme"/>
        <activity
            android:name=".Market"
            android:theme="@style/AppTheme"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>